<!DOCTYPE html>

<html>

    <head>

        <title>Healthplanner</title>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </head>

    <body>

        <header>
            @Html.Partial("~/Views/Shared/Menu.cshtml")
            <a href="/Account/Logout">Log af</a>
        </header>

        <h1>Healthplanner</h1>

        @RenderBody()

    </body>

</html>
